@mixin elevation2 {
    box-shadow: 0px 2px 3px transparentize($shadow, 0.55);
    margin: 7px;
}

@mixin elevation3 {
    box-shadow: 0px 2px 5px $shadow;
    margin: 7px;
}

@mixin md3_decel {
    transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

@mixin md3_accel {
    transition: 150ms cubic-bezier(0.3, 0, 0.8, 0.15);
}

@mixin fluent_decel {
    transition: 200ms cubic-bezier(0.1, 1, 0, 1);
}

@mixin material_common_button_filled {
    padding: 0.8rem 1.3rem;
    border-radius: 9999px;
    border: 0px;
    background-color: $primary;
    color: $onPrimary;
}

@mixin material_common_button_filled_hover {
    background-color: mix($primary, $hoverTintColor, 88%);
    color: mix($onPrimary, $hoverTintColor, 88%);
}

@mixin material_common_button_tonal {
    padding: 0.8rem 1.3rem;
    border-radius: 9999px;
    border: 0px;
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
}

@mixin material_common_button_tonal_hover {
    background-color: mix($secondaryContainer, $hoverTintColor, 80%);
    color: mix($onSecondaryContainer, $hoverTintColor, 80%);
}