$light_primary: #895200;
$light_onPrimary: #ffffff;
$light_primaryContainer: #ffdcb8;
$light_onPrimaryContainer: #2c1700;
$light_secondary: #725a41;
$light_onSecondary: #ffffff;
$light_secondaryContainer: #feddbd;
$light_onSecondaryContainer: #281805;
$light_tertiary: #56633c;
$light_onTertiary: #ffffff;
$light_tertiaryContainer: #dae9b7;
$light_onTertiaryContainer: #141f01;
$light_error: #ba1b1b;
$light_onError: #ffffff;
$light_errorContainer: #ffdad4;
$light_onErrorContainer: #410001;
$light_colorbarbg: #fcfcfc;
$light_background: #fcfcfc;
$light_onBackground: #1f1b16;
$light_surface: #fcfcfc;
$light_onSurface: #1f1b16;
$light_surfaceVariant: #f1dfd0;
$light_onSurfaceVariant: #51453a;
$light_outline: #837569;
$light_shadow: #000000;
$light_inverseSurface: #352f2a;
$light_inverseOnSurface: #faefe7;
$light_inversePrimary: #ffb863;
