$dark_primary: #ffb863;
$dark_onPrimary: #492900;
$dark_primaryContainer: #683d00;
$dark_onPrimaryContainer: #ffdcb8;
$dark_secondary: #e0c1a3;
$dark_onSecondary: #402d17;
$dark_secondaryContainer: #58432c;
$dark_onSecondaryContainer: #feddbd;
$dark_tertiary: #bdcc9c;
$dark_onTertiary: #293412;
$dark_tertiaryContainer: #3e4b25;
$dark_onTertiaryContainer: #dae9b7;
$dark_error: #ffb4a9;
$dark_onError: #680003;
$dark_errorContainer: #930006;
$dark_onErrorContainer: #ffb4a9;
$dark_colorbarbg: #1f1b16;
$dark_background: #1f1b16;
$dark_onBackground: #ebe1d9;
$dark_surface: #1f1b16;
$dark_onSurface: #ebe1d9;
$dark_surfaceVariant: #51453a;
$dark_onSurfaceVariant: #d5c4b5;
$dark_outline: #9d8e81;
$dark_shadow: #000000;
$dark_inverseSurface: #ebe1d9;
$dark_inverseOnSurface: #352f2a;
$dark_inversePrimary: #895200;
