@import './colors';
@import './common';

:root {
  font-family: Ubuntu;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  background-color: $background;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: $linkColor;
}

a:hover {
  color: mix($linkColor, $hoverTintColor, 90%);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.2em;
  color: $font-primary;
}

.col-container {
  display: flex;
  flex-direction: column;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

button {
  @include elevation2;
  @include md3_decel;
  @include material_common_button_tonal;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

button:focus,
button:hover,
button:focus-visible {
  @include material_common_button_tonal_hover;
}

button-filled {
  @include elevation2;
  @include md3_decel;
  @include material_common_button_filled;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

button-filled:focus,
button-filled:hover,
button-filled:focus-visible {
  @include material_common_button_filled_hover;
}

.titlebar {
  height: 30px;
  background: #329ea3;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.titlebar-button:hover {
  background: #5bbec3;
}