@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    @apply font-sans text-base font-normal leading-6 bg-primary antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    color-scheme: dark;
  }

  body {
    @apply overflow-hidden;
  }

  h1 {
    @apply text-5xl;
    @apply font-medium;
  }
  
  h2 {
    @apply text-3xl text-gray-300 font-semibold;
  }


  .primary-btn {
    @apply p-3 px-5 rounded-full border-0 bg-yellow-500 text-on-secondary-container cursor-pointer transition transform shadow-elevation2 font-medium flex flex-row items-center gap-1;
  }

  .primary-btn:focus, .primary-btn:hover, .primary-btn:focus-visible {
    @apply bg-opacity-80 text-opacity-80;  // This assumes the color changes on hover/focus are done by adjusting opacity
  }

  // If you have the 'button-filled' class
  .button-filled {
    @apply p-3 px-5 rounded-full border-0 bg-primary text-on-primary cursor-pointer transition transform shadow-elevation2;
  }

  .button-filled:focus, .button-filled:hover, .button-filled:focus-visible {
    @apply bg-opacity-88 text-opacity-88;  // This assumes the color changes on hover/focus are done by adjusting opacity
  }
}